<div class="l-content-list l-content-list--cities">
  <div class="l-content-list__item c-location">
    <div class="c-location__inner" >
      <img  class="c-location__bg" src="/assets/shared/desktop/bg-pattern-small-circle.svg" />
      <img class="c-location__img" src="/assets/shared/desktop/illustration-canada.svg" alt="A city in Canada">
    </div>
    <h2 class="c-h3 c-location__heading" > Canada </h2>
    <a class="c-btn c-btn--dark-salmon" href="/locations">
      see location
    </a>
  </div>
  
  <div class="l-content-list__item c-location">
    <div class="c-location__inner" >
      <img  class="c-location__bg" src="/assets/shared/desktop/bg-pattern-small-circle.svg" />
      <img class="c-location__img" src="/assets/shared/desktop/illustration-australia.svg" alt="A city in Canada">
    </div>
    <h2 class="c-h3 c-location__heading" > Australia </h2>
    <a class="c-btn c-btn--dark-salmon" href="/locations">
      see location
    </a>
  </div>
  
  <div class="l-content-list__item c-location">
    <div class="c-location__inner" >
      <img  class="c-location__bg" src="/assets/shared/desktop/bg-pattern-small-circle.svg" />
      <img class="c-location__img" src="/assets/shared/desktop/illustration-united-kingdom.svg" alt="A city in Canada">
    </div>
    <h2 class="c-h3 c-location__heading" > United Kingdom </h2>
    <a class="c-btn c-btn--dark-salmon" href="/locations">
      see location
    </a>
  </div>
</div>