  <div id="backdrop" class="c-backdrop u-hidden">
  </div>
  <nav class="l-flex l-flex--nav-full">
    <div class="l-flex__item-1">
      <a href="/">
        <img src="/assets/shared/desktop/logo-dark.png" alt="">
      </a>
    </div>

    <!-- Mobile Navigation Markup -->
    <div class="u-hidden@md">
      <div class="l-flex__item-2">
        <button id="open-nav-icon">
          <img src="/assets/shared/mobile/icon-hamburger.svg" alt="">
        </button>

        <button id="close-nav-icon" class="u-hidden">
          <img src="/assets/shared/mobile/icon-close.svg" alt="">
        </button>
      </div>

      <ul id="navigation" class="c-mobile-nav u-hidden">
        <li class="c-mobile-nav__item"><a class="c-mobile-nav__link" href="/about"> Our Company </a></li>
        <li class="c-mobile-nav__item"><a class="c-mobile-nav__link" href="/locations"> Locations </a></li>
        <li class="c-mobile-nav__item"><a class="c-mobile-nav__link" href="/contact"> Contact </a></li>
      </ul>
    </div>

    <!-- Tablet > Navigation Markup -->
    <ul class="c-nav u-hidden@sm">
      <li class="c-nav__item"><a class="c-nav__link" href="/about"> Our Company </a></li>
      <li class="c-nav__item"><a class="c-nav__link" href="/locations"> Locations </a></li>
      <li class="c-nav__item"><a class="c-nav__link" href="/contact"> Contact </a></li>
    </ul>
  </nav>