@font-face {
  font-family: 'CustomFont';
    src: url('/fonts/Jost-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
  }
/****

  Table of Contents
  1. Colors
  2. Line-heights
  3. Text sizes
  4. Heading sizes
  5. Breakpoints

****/

/*** Colors ***/
$primary-color-1: rgba(231, 129, 107, 1); // #e7816b
$primary-color-2: rgba(29, 28, 30, 1); // #1d1c1e
$primary-color-3: rgba(255, 255, 255, 1); 

$secondary-color-1: rgba(255, 173, 155, 1); // #ffad9b
$secondary-color-2: rgba(51, 49, 54, 1); // #333136
$secondary-color-3: rgba(241, 243, 245, 1);
$secondary-color-4: rgba(253, 243, 240, 1); //#FDF3F0

/*** Font Family ***/
$font-family: 'CustomFont', sans-serif; 

/*** Text Sizes ***/
$ts-300: 0.875rem; //14px
$ts-400: 0.9375rem; //15px
$ts-500: 1rem;  //16px
$ts-600: 1.125rem;  //18px
$ts-700: 1.25rem;  //20px
$ts-800: 1.375rem;  //22px

/*** Heading Sizes ***/
$hs-200: 1.25rem; //20px
$hs-300: 1.5rem; //24px
$hs-400: 1.75rem; //28px
$hs-500: 2rem; //32px
$hs-600: 2.25rem; //36px
$hs-700: 2.5rem; //40px
$hs-800: 2.75rem; //44px
$hs-900: 3rem; //48px

/*** Line Heights ***/
$lh-400: 1;

   
/*** Media Breakpoints ***/
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  2xl: 1440px
)