@use '../../variables' as *;

.c-form {
  background: $primary-color-1;
  padding: 72px 24px;

  @media screen and (min-width: 1440px) { 
    display: flex;
    align-items: center;
    padding: 3.4375rem 6rem 3.375rem 5.9375rem
  }

  &__header {
    margin-bottom: 24px;
    text-align: center;

    @media screen and (min-width: 1440px) { 
      text-align: left;
      width: 540px;
    }
  }

  &__text {

    @media screen and (min-width: 768px) {
      margin: 0 auto;
      width: 70%;
    }

    @media screen and (min-width: 1440px) { 
      margin: 0;
      width: 445px;
    }
  }

  &__heading {
    padding-bottom: 24px;
  }

  &__input {
    background: transparent;
    border: none;
    border-bottom: 1px $primary-color-3 solid;
    color: $primary-color-3;
    padding: 25px 0 11px 13.77px;
    width: 100%;
  }

  &__input::placeholder {
    color: $primary-color-3;
    opacity: 50%;
  }

  &__input:focus {
    outline: transparent;
  }

  &__btn-wrapper {
    text-align: center;

    @media screen and (min-width: 768px) { 
      text-align: right;
    }
  }

  &__btn {
    position: relative;
    margin-top: 40px;

    @media screen and (min-width: 768px) { 

    }
  }
}