@use "../../variables" as *;
@use "../../functions" as *;

.c-hero-container {
  background: $primary-color-1 url("/assets/home/desktop/image-hero-phone.png") no-repeat center 18.75em;
  padding: 5rem 0 28.1875rem 0;
  text-align: center;

  @media only screen and (min-width: 768px) {
    border-radius: 15px;
  }

  @media only screen and (min-width: 1440px) {
    background: 
      url("/assets/home/desktop/image-hero-phone.png") no-repeat 550px -30px,
      url("/assets/home/desktop/bg-pattern-hero-home.svg") no-repeat 475px, $primary-color-1;
    padding: 9.0625em 5.9375em;
    text-align: left;
  }

  &__inner {
    margin: 0 auto;
    width: 87.2%;
    max-width: 31.25rem;

    @media only screen and (min-width: 1440px) {
      margin: 0 0 0 0;
      max-width: 33.75rem;
    }
  }

  &__heading {
    margin-bottom: 0.4375em;

    @media only screen and (min-width: 1440px) {
      margin-bottom: 0.8333333em;
    }
  }

  &__text {
    margin-bottom: 1.6em;
    max-width: 36.125rem;

    @media only screen and (min-width: 1440px) {
      margin-bottom: 2.5em;
      width: 27.8125rem;
    }
  }
}
