<%- include('../partials/head.ejs') %>

<div class="l-page" >

  <%- include('../partials/nav.ejs') %>
  
  <header class="l-page__header c-services-header" >
    <section class="c-services-header__inner" >
      <h1 class="c-h1 c-services-header__heading" >
        App Design
      </h1>
      <p class="c-text" >
        Our mobile designs bring intuitive digital solutions to your customers right at their fingertips.
      </p> 
    </section>
  </header>
  
  <main class="l-page__main l-main" >
    <div class="l-main__item-1 l-content-list l-content-list--projects" >
      <div class="l-content-list__item c-content c-content--projects">
        <img class="c-content__img" src="/assets/app-design/desktop/image-airfilter.jpg" alt="" >
        <div class="c-content__inner c-content__inner--bg-light">
          <section class="c-content__wrapper" >
            <h1 class="c-h3 c-h3--secondary c-content__title" > Airfilter </h1>
            <p class="c-text-secondary" >
              Solving the problem of poor indoor air quality by filtering the air
            </p>
          </section>         
        </div>
      </div>
  
      <div class="l-content-list__item c-content c-content--projects">
        <img class="c-content__img" src="/assets/app-design/desktop/image-eyecam.jpg" alt="" >
        <div class="c-content__inner c-content__inner--bg-light">
          <section class="c-content__wrapper" >
            <h1 class="c-h3 c-h3--secondary c-content__title" > Eyecam </h1>
            <p class="c-text-secondary" >
              Product that lets you edit your favorite photos and videos at any time
            </p>
          </section>         
        </div>
      </div>
  
      <div class="l-content-list__item c-content c-content--projects">
        <img class="c-content__img" src="/assets/app-design/desktop/image-faceit.jpg" alt="" >
        <div class="c-content__inner c-content__inner--bg-light">
          <section class="c-content__wrapper" >
            <h1 class="c-h3 c-h3--secondary c-content__title" > Faceit </h1>
            <p class="c-text-secondary" >
              Get to meet your favorite internet superstar with the faceit app
            </p>
          </section>         
        </div>
      </div>
  
      <div class="l-content-list__item c-content c-content--projects">
        <img class="c-content__img" src="/assets/app-design/desktop/image-todo.jpg" alt="" >
        <div class="c-content__inner c-content__inner--bg-light">
          <section class="c-content__wrapper" >
            <h1 class="c-h3 c-h3--secondary c-content__title" > Todo </h1>
            <p class="c-text-secondary" >
              A todo app that features cloud sync with light and dark mode
            </p>
          </section>         
        </div>
      </div>
  
      <div class="l-content-list__item c-content c-content--projects">
        <img class="c-content__img" src="/assets/app-design/desktop/image-loopstudios.jpg" alt="" >
        <div class="c-content__inner c-content__inner--bg-light">
          <section class="c-content__wrapper" >
            <h1 class="c-h3 c-h3--secondary c-content__title" > Loopstudios </h1>
            <p class="c-text-secondary" >
              A VR experience app made for Loopstudios
            </p>
          </section>         
        </div>
      </div>
    </div>
  
    <div class="l-content-list">
      <section class="l-content-list__item c-card c-card--services c-card--app-img">
        <h2 class="c-h2"> Web Design </h2>
        <a class="c-link c-link--arrow" href="app-design"> View Projects </a>
      </section>
  
      <section class="l-content-list__item c-card c-card--services c-card--graphic-img">
        <h2 class="c-h2"> Graphic Design </h2>
        <a class="c-link c-link--arrow" href="graphic-design"> View Projects </a>
      </section>
    </div>
  </main>
</div>


<%- include('../partials/footer.ejs',{ contact: contact }) %>

<%- include("../partials/end.ejs") %>