<%- include('../partials/head.ejs') %>
<%- include('../partials/nav.ejs') %>
  <div>
    <h1> Page not found </h1>
    <p> Sorry, the page at <i>
        <%= path %>
      </i> does not exist </p>
  </div>

  <%- include("../partials/end.ejs") %>