<%- include('../partials/head.ejs') %>
  <div class="l-page">

    <%- include('../partials/nav.ejs') %>

      <main class="l-page__main l-page__main--lg l-page__main--full l-main">
        <div class="l-content-list">
          <div
            class="l-content-list__item l-content-list__item--lg c-content c-content--locations c-content--right@2xl">
            <div class="c-content__img-wrapper">
              <div id="canada" class="c-content__img" >
              </div>
            </div>
            <div class="c-content__inner c-content__inner--bg-light">
              <section class="c-content__wrapper">
                <h1 class="c-content__title c-h1 c-h1--secondary"> Canada </h1>
                <div class="c-content__contact-wrapper">
                  <div class="c-content__contact">
                    <p class="c-text c-text--alt">
                      <strong>
                        Designo Central Office
                      </strong>
                      <br>
                      3886 Wellington Street <br>
                      Toronto, Ontario M9C 3J5
                    </p>
                  </div>
                  <br>
                  <div class="c-content__contact">
                    <p class="c-text c-text--alt">
                      <strong>
                        Contact
                      </strong>
                      <br>
                      P: +1 253-863-8967 <br>
                      M: contact@designo.co
                    </p>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="l-content-list__item l-content-list__item--lg c-content c-content--locations">
            <div class="c-content__img-wrapper">
              <div id="australia" class="c-content__img" >
              </div>
            </div>
            <div class="c-content__inner c-content__inner--bg-light">
              <section class="c-content__wrapper">
                <h1 class="c-content__title c-h1 c-h1--secondary"> Australia </h1>
                <div class="c-content__contact-wrapper">
                  <div class="c-content__contact">
                    <p class="c-text c-text--alt">
                      <strong>
                        Designo AU Office
                      </strong>
                      <br>
                      19 Balonne Street <br>
                      New South Wales 2443
                    </p>
                  </div>
                  <br>
                  <div class="c-content__contact">
                    <p class="c-text c-text--alt">
                      <strong>
                        Contact
                      </strong>
                      <br>
                      P: (02) 6720 9092 <br>
                      M: contact@designo.au
                    </p>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="l-content-list__item l-content-list__item--lg c-content c-content--locations c-content--right@2xl">
            <div class="c-content__img-wrapper">
              <div id="uk" class="c-content__img" >
              </div>
            </div>
            <div class="c-content__inner c-content__inner--bg-light">
              <section class="c-content__wrapper">
                <h1 class="c-content__title c-h1 c-h1--secondary"> United Kingdom </h1>
                <div class="c-content__contact-wrapper">
                  <div class="c-content__contact">
                    <p class="c-text c-text--alt">
                      <strong>
                        Designo UK Office
                      </strong>
                      <br>
                      749 E Willamette Ave, London <br>
                      WC2N5DS, United Kingdom
                    </p>
                  </div>
                  <br>
                  <div class="c-content__contact">
                    <p class="c-text c-text--alt">
                      <strong>
                        Contact
                      </strong>
                      <br>
                      P: +1 253-863-8967 <br>
                      M: contact@designo.co
                    </p>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </main>
  </div>

  <%- include('../partials/footer.ejs', { contact: contact }) %>

    <%- include("../partials/end.ejs") %>