<%- include('../partials/head.ejs') %>

<div class="l-page" > 

    <%- include('../partials/nav.ejs') %>

    <header class="l-page__header c-services-header" >
      <section class="c-services-header__inner" >
        <h1 class="c-h1 c-services-header__heading" >
          Web design
        </h1>
        <p class="c-text" >
          We build websites that serve as powerful marketing tools and bring memorable brand experiences.
        </p> 
      </section>
    </header>
  
  
  
    <main class="l-page__main l-main" >
      <div class="l-main__item-1 l-content-list l-content-list--projects">
        <div class="l-content-list__item c-content c-content--projects">
          <img class="c-content__img" src="/assets/web-design/desktop/image-express.jpg" alt="" >
          <div class="c-content__inner c-content__inner--bg-light">
            <section class="c-content__wrapper" >
              <h2 class="c-h3 c-h3--secondary c-content__title" > Express </h2>
              <p class="c-text-secondary" >
                A multi-carrier shipping website for ecommerce businesses
              </p>
            </section>         
          </div>
        </div>
  
        <div class="l-content-list__item c-content c-content--projects">
          <img class="c-content__img" src="/assets/web-design/desktop/image-transfer.jpg" alt="" >
          <div class="c-content__inner c-content__inner--bg-light">
            <section class="c-content__wrapper" >
              <h2 class="c-h3 c-h3--secondary c-content__title" > Transfer </h2>
              <p class="c-text-secondary" >
                Site for low-cost money transfers and sending money within seconds
              </p>
            </section>         
          </div>
        </div>
  
        <div class="l-content-list__item c-content c-content--projects">
          <img class="c-content__img" src="/assets/web-design/desktop/image-photon.jpg" alt="" >
          <div class="c-content__inner c-content__inner--bg-light">
            <section class="c-content__wrapper" >
              <h1 class="c-h3 c-h3--secondary c-content__title" > Photon </h1>
              <p class="c-text-secondary" >
                A state-of-the-art music player with high-resolution audio and DSP effects
              </p>
            </section>         
          </div>
        </div>
  
        <div class="l-content-list__item c-content c-content--projects">
          <img class="c-content__img" src="/assets/web-design/desktop/image-builder.jpg" alt="" >
          <div class="c-content__inner c-content__inner--bg-light">
            <section class="c-content__wrapper" >
              <h2 class="c-h3 c-h3--secondary c-content__title" > Builder </h2>
              <p class="c-text-secondary" >
                Connects users with local contractors based on their location
              </p>
            </section>         
          </div>
        </div>
  
        <div class="l-content-list__item c-content c-content--projects">
          <img class="c-content__img" src="/assets/web-design/desktop/image-blogr.jpg" alt="" >
          <div class="c-content__inner c-content__inner--bg-light">
            <section class="c-content__wrapper" >
              <h1 class="c-h3 c-h3--secondary c-content__title" > Blogr </h1>
              <p class="c-text-secondary" >
                Blogr is a platform for creating an online blog or publication
              </p>
            </section>         
          </div>
        </div>
  
        <div class="l-content-list__item c-content c-content--projects">
          <img class="c-content__img" src="/assets/web-design/desktop/image-camp.jpg" alt="" >
          <div class="c-content__inner c-content__inner--bg-light">
            <section class="c-content__wrapper" >
              <h2 class="c-h3 c-h3--secondary c-content__title" > Camp </h2>
              <p class="c-text-secondary" >
                Get expert training in coding, data, design and digital marketing
              </p>
            </section>         
          </div>
        </div>
      </div>
   
      <div class="l-content-list">
        <section class="l-content-list__item c-card c-card--services c-card--app-img">
          <h2 class="c-h2"> App Design </h2>
          <a class="c-link c-link--arrow" href="app-design"> View Projects </a>
        </section>
  
        <section class="l-content-list__item c-card c-card--services c-card--graphic-img">
          <h2 class="c-h2"> Graphic Design </h2>
          <a class="c-link c-link--arrow" href="graphic-design"> View Projects </a>
        </section>
      </div>
    </main>
  </div>

  <%- include('../partials/footer.ejs', { contact: contact }) %>

<%- include("../partials/end.ejs") %>